# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache

# Project-specific paths to ignore
/apps/wallet/.next
/apps/wallet/public/service-worker.js
/apps/wallet/public/workbox-2cbdcaae.js
